<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <div class="navbar-item">
      <img src="assets/icone.png" alt="">
      <span>TaskFly Mod 1.0</span>
    </div>

    <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarBasicExample" #navMenu>
    <div class="navbar-start">
      <a [routerLink]="['']" class="navbar-item">Mods</a>
      <a [routerLink]="['credits']" class="navbar-item">Creditos</a>
      <!-- <a href="" class="navbar-item has-dropdown is-hoverable">
        <a href="" class="navbar-link">More</a>
        <div class="navbar-dropdown is-boxed">
          <a href="" class="navbar-item">About</a>
          <a href="" class="navbar-item">Jobs</a>
          <a href="" class="navbar-item">Contact</a>
          <hr class="navbar-divider">
          <a href="" class="navbar-item">Report an issue</a>
        </div>
      </a> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">

      </div>
    </div>
  </div>
</nav>
