<article class="panel is-warning">
  <p class="panel-tabs">
    <a class="is-active">Aparencia</a>
    <a>Propriedades</a>
    <a>Funcionamento</a>
  </p>
  <div class="is-active level is-mobile p-y-sm p-x-sm-p">
    <div class="level-left">
      Quadros
    </div>
    <div class="level-right">
      <div class="field">
        <input id="switchRtlExample" type="checkbox" name="switchRtlExample" class="switch">
        <label for="switchRtlExample"></label>
      </div>
    </div>
  </div>
</article>
