<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
          <strong>Ícones feitos por</strong>
          <br>
          <div class="tags are-medium">
            <span class="tag"><a href="https://www.flaticon.com/br/autores/dave-gandy" title="Dave Gandy">Dave Gandy</a></span>
            <span class="tag"><a href="https://about.gitlab.com/press/press-kit/#logos" title="Dave Gandy">Gitlab</a></span>
          </div>
      </div>
    </div>
  </article>
</div>
