<footer class="footer">
    <div class="content has-text-centered">
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-normal is-dark">source</span>
            <span class="tag is-normal is-info"><a target="_blank" href="https://gitlab.com/runnables/taskfly-chrome-ext"><mat-icon class="icon is-small" svgIcon="gitlab"></mat-icon></a></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">build</span>
            <span class="tag is-success">passing</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
